extends ../layout
block content
    form.container(method='POST', action='/addadmin')
        h2 Pridať nového administrátora
        input(name="new", value="true", type="hidden")
        label
            input.form-input(name='meno', type='text', placeholder='Meno' required)
        label
            input.form-input(name='email', type='email', placeholder='E-mailová adresa' required)
        label
            input.form-input(name='heslo', type='password', placeholder='Heslo' required)
        input.button.submit-button(type='submit' value='Registrovať')
        input.button.reset-button(type='reset' value='Zmazať')