extends ../layout
block content
    .settings
        form.container(method='POST', action='/updateleague')
            h2 Upraviť súťaž #{league.name}

            label Názov súťaže:
                input(name='leagueid', value='' + league.id type='hidden' required)
                input.form-input(name='leaguename', type='text' value=league.name required)
            .switch-field
                input#SwitchOpen.switch(type='checkbox', name="leagueopen", value="open" checked=league.opened)
                label(for='SwitchOpen') Otvorené prihlasovanie

            input.button.submit-button(type='submit' value='Upraviť')
            input.button.reset-button(type='reset' value='Reset')

        form.container(method='POST', action='/removeleague', onsubmit="return validate(this);")
            p Vymaže súťaž, rozpis zápasov a tímy prihlásené v súťaži.
            input(name='leagueid', value='' + league.id type='hidden' required)
            input.button.remove-button(type='submit' value='VYMAZAŤ SÚŤAŽ')

    script.
        function validate(form) {
            return confirm('Naozaj chceš vymazať súťaž?');
        }
