extends ../layout
block content

    h2 Nastavenia
    .container.settings
        ul
            li.settings
                a.nav-link.nav-admin(href='/addleague')
                    img.menu-icon(src="/img/plus.svg")
                    p.menu Pridať súťaž