extends layout
block content
    h2 Vitaj v registračnom systéme pre futbalové tímy!
    div(class="buttons")
        form(method="get" action="/register")
            button(type="submit", id="register") Registrovať tím
        p alebo
        form(method="get" action="/login")
            button(type="submit", id="login") Prihlásiť sa
