doctype html
html(lang="sk")
    head
        title Teams Registration
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/script.js")
        link(rel='manifest' href='./manifest.json')
    body
        header
            a.title(href="/") Team Registration
            if user
                nav
                    ul.nav
                        li.nav-item
                            a.nav-link.nav-admin(href='/team') Môj tím
                        li.nav-item
                            a.nav-link.nav-admin(href='/rozpis') Rozpis zápasov
                        li.nav-item
                            a.nav-link.nav-admin(href='/logout') Odhlásiť sa
        !=messages('message',locals)
        block content