doctype html
html(lang="sk")
    head
        title Teams Registration
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='/css/style.css')
        script(src="/js/script.js")
        link(rel='manifest' href='./manifest.json')
        link(rel='icon', href='/img/favicon.ico')
    body
        header
            if user
                if user.privileges === "admin"
                    a.title(href="/") TR - Admin
                else
                    a.title(href="/") Team Registration
                nav
                    ul.nav
                        li.nav-item
                            a.nav-link.nav-admin(href='/')
                                img.menu-icon(src="/img/home.svg")
                                p.menu Domov
                        li.nav-item
                            a.nav-link.nav-admin(href='/team')
                                img.menu-icon(src="/img/team.svg")
                                p.menu Môj tím
                        li.nav-item
                            a.nav-link.nav-admin(href='/schedule')
                                img.menu-icon(src="/img/schedule.svg")
                                p.menu Rozpis
                        if user.privileges === "admin"
                            li.nav-item
                                a.nav-link.nav-admin(href='/settings')
                                    img.menu-icon(src="/img/settings.svg")
                                    p.menu Nastavenia
                        li.nav-item
                            a.nav-link.nav-admin(href='/logout')
                                img.menu-icon(src="/img/logout.svg")
                                p.menu Odhlásiť sa
            else
                a.title(href="/") Team Registration
        .scroll
            !=messages('message',locals)
            block content