extends layout
block content
    h2 Prihl치si콘 sa
    form(method='POST', action='/login')
        label E-mailov치 adresa
            input.form-input(name='email', type='email' required)
        label Heslo
            input.form-input(name='heslo', type='password' required)
        input.button.submit-button(type='submit' value='Login')
        input.button.reset-button(type='reset' value='Zmaza콘')