extends layout
block content

    form.container(method='POST', action='/login')
        h2 Prihl치si콘 sa
        label
            input.form-input(name='email', type='email', placeholder='E-mailov치 adresa' required)
        label
            input.form-input(name='heslo', type='password', placeholder='Heslo' required)
        input.button.submit-button(type='submit' value='Login')
        input.button.reset-button(type='reset' value='Zmaza콘')