//-
    Showing express messages
    Reference: https://www.npmjs.com/package/express-messages
.messages
    each type in Object.keys(messages)
        each message in messages[type]
            div(class="message message-"+type) #{message}