extends layout
block content
    h2 Registrovať sa
    form(method='POST', action='/login')
        label Meno
            input.form-input(name='name', type='text' required)
        label E-mailová adresa
            input.form-input(name='email', type='email' required)
        label Zopakuj E-mailovú adresu
            input.form-input(name='email2', type='email' required)
        label Heslo
            input.form-input(name='heslo', type='password' required)
        input.button.submit-button(type='submit' value='Registrovať')
        input.button.reset-button(type='reset' value='Zmazať')