body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccdcf8;
    min-height: 100vh;
}
header{
    background-color: #2168e1;
    padding: 4px;
    border-color: #00b0b9;
    border-width: 0 0 0px 0;
    border-style: solid;
}
a{
    font-size: 35px;
    padding-left: 10px;
    color: white;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
}
p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 0;
    margin-top: 0;
    color: #474747;
}
h3{
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    padding: 5px 0;
    color: #2168e1;
}
.buttons{
    border-radius: .4rem;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#register{
    display: block;
    padding: 15px 30px;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #2168e1;
    color: white;
    margin: 15px auto;

    font-weight: bold;
    border-color: #2168e1;

}
#login{
    display: block;
    padding: 15px 30px;
    margin: 15px auto;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #474747;
    color: #ffffff;

    font-weight: bold;
    border-color: #474747;
}
#register:hover{
    background-color: #3d7ce7;
}
#login:hover{
    background-color: #5d5d5d;
}
.button{
    font-family: inherit;
    display: inline-block;
    font-size: 1rem;
    border-radius: .25rem;
    margin: 5px;
    padding: .375rem .75rem;

}
.submit-button{
    background-color: #3e7be5;
    color: #FBFFF1;
    border-color: #3e7be5;
}
.reset-button{
    background-color: #757575;
    color: #FFF;
    border-color: #757575;
}
.form-input {
    display: block;
    padding: .6rem .9rem;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}
form{
    display: block ;
    text-align: center;
    width: fit-content;
    margin: 20px auto auto;
}

form.container{
    background-color: #FFFFFF;
    border-radius: .4rem;
    padding: 25px;
}

label{
    color: #2168e1;
}
.icon{
    display: block;
    width: 200px;
    height: 200px;
    max-width: 70vw;
    max-height: 70vw;
    border-radius: .4rem;
    margin-left: auto;
    margin-right: auto;
}
#main-page{
    display: flex;
    max-width: 800px;
    align-items: center;
    margin: 15vh auto auto;
}
@media only screen and (max-width: 520px) {
    #main-page {
        flex-direction: column;
        margin-top: 15px;
    }
    .buttons{
        margin-top: 50px;
    }
}