body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eff1f5;
    min-height: 100vh;
}
header{
    background-color: #2168e1;
    padding: 4px;
    border-color: #00b0b9;
    border-width: 0 0 0px 0;
    border-style: solid;
    display: flex;
    align-items: center;
}
a.title{
    font-size: 35px;
    padding-left: 10px;
    color: white;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
}
p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 5px 0;
    margin-top: 0;
    color: #474747;
}
h3{
    font-size: 23px;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    text-align: center;
    padding: 5px 0;
    color: #474747;
}
.buttons{
    border-radius: .4rem;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#register{
    display: block;
    padding: 15px 30px;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #2168e1;
    color: white;
    margin: 15px auto;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    border-color: #2168e1;

}
#login{
    display: block;
    padding: 15px 30px;
    margin: 15px auto;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #474747;
    color: #ffffff;
    border-style: solid;
    border-width: 1px;
    font-weight: bold;
    border-color: #474747;
}
#register:hover{
    background-color: #3d7ce7;
}
#login:hover{
    background-color: #5d5d5d;
}
.switch-field{
    display: block;
    margin-bottom: 20px;
}
.button{
    font-family: inherit;
    display: inline-block;
    font-size: 1rem;
    border-radius: .25rem;
    margin: 5px;
    padding: .375rem .75rem;
    cursor: pointer;
}
.submit-button{
    background-color: #3e7be5;
    color: #FBFFF1;
    border-color: #3e7be5;
}
.reset-button{
    background-color: #757575;
    color: #FFF;
    border-color: #757575;
}
.remove-button{
    background-color: #b50000;
    color: #FFF;
    border-color: #b50000;
}

.edit-button{
    background-color: #34d0b1;
    color: #FFF;
    border-color: #3ee58f;
}

input:focus,#register:focus,#login:focus{
    outline: 0;
    border-style: solid;
    border-width: 1px;
    border-color: #3e7be5;
    box-shadow: 0 0 1px 3px #a8c3f3;
}

input.correct:focus{
    border-color: #00c618;
    box-shadow: 0 0 1px 3px #b4f5bb;
}
.form-input.correct{
    border: 1px solid #00c618;
}
input.incorrect:focus{
    border-color: #c60000;
    box-shadow: 0 0 1px 3px #f5b4b4;
}
.form-input.incorrect{
    border: 1px solid #c60000;
}

.form-input {
    display: block;
    padding: .6rem .9rem;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
    width: 300px;
    max-width: 80%;
}
form{
    display: block ;
    text-align: center;
    width: fit-content;
    margin: 20px auto auto;
}
form.edit{
    margin-top: 0;
}
.inline{
    display: inline-block;
}
hr{
    border-top: solid 2px #ffffff;
}
section{
    background-color: #dbebff;
    border-radius: 0.5rem;
    padding-bottom: 6px;
    margin-bottom: 15px;
    padding-top: 10px;
}
.container{
    background-color: #FFFFFF;
    border-radius: .4rem;
    padding: 25px;
    box-shadow: 1px 2px 10px #888888;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

section.container{
    max-width: 660px;
}
label{
    color: #2168e1;
}

dd.list-group-item.zoznam:nth-child(even) {
    background: #e5f0ff
}

dt.list-group-item{
    background-color: #3d7ce7;
    color: white;
    padding: 0.5rem .5rem;
    border-radius: 0.3rem 0.3rem 0 0 ;
    margin-top: 15px;
}
dd.list-group-item{
    background-color: #ffffff;
    padding: 0.5rem .5rem;
    color: #004a99;
    margin-bottom: 1px;

}
dd.list-group-item:last-child{
    border-radius: 0 0 0.3rem 0.3rem;
}

dt.zapas{
    border: solid white ;
    border-bottom: 0;
}
dd.zapas{
    margin-bottom: 0;
    border-bottom: 0;
}
dd.zapas.edit-end{
    border-radius: 0 0 0.3rem 0.3rem;
}
dt.second{
    background-color: #4A5F82;
}

dd.volno{
   color: #5996d7!important;
}

h3.match-name, h3.team-name, h4{
    color: #004a99;
}

h3.team-name{
    margin-top: 0;
}
.list-group-item{
    margin: 0 auto;
    text-align: center;
    width: 80%;
    max-width: 450px;
    min-width: 200px;
}
dl{
    margin-top: 20px;
}
dd.open{
    color: #2c6700;
}
dd.closed{
    color: #b50000;
}
form.options{
    margin-top: 0;
}
dd.options{
    background-color: #e0eeff;
}

.icon{
    display: block;
    width: 200px;
    height: 200px;
    max-width: 70vw;
    max-height: 70vw;
    border-radius: .4rem;
    margin-left: auto;
    margin-right: auto;
}
#main-page{
    display: flex;
    max-width: 800px;
    align-items: center;
    margin: 15vh auto auto;
}

.message{
    padding: 12px 0;
    text-align: center;
    background-color: white;
    border: 1px solid;
    border-radius: 0.2rem;
}
.message-danger{
    background-color: #ffd1d1;
    color: #620000;
    border-color: #ffa8a8;
}
.message-success{
    background-color: #d8ffd1;
    color: #2c6700;
    border-color: #a8ff99;
}
.message-info{
    background-color: #d1e6ff;
    color: #004473;
    border-color: #9dcbff;
}

nav{
    text-align: center;
    padding: 10px;
    margin-left: auto;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    display: inline-block;
    margin: 5px;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: #4191ff;
    padding: 0 5px 0 0;
}
nav li > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    min-width: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav li > a.active{
    font-weight: bold;
    color: #004a99;
}
nav li:hover{
    background-color: #007bff;
}
.menu-icon{
    display: inline-block;
    max-width: 20px;
    max-height: 20px;
    background-color: white;
    border-radius: 2px;
    margin-top: auto;
    margin-bottom: auto;
}
p.menu{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}
.container.settings{
    width: 80%;
    max-width: 500px;
    margin-top: 20px;
}
ul{
    padding-left: 0;
}
li.settings{
    display: block;
    margin: 5px auto;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 10px;
    background-color: #4191ff;
    padding: 0 5px 0 0;
    min-width: 200px;
    width: 85%;
    max-width: fit-content;
}
dt.kolo{
    cursor: pointer;
    margin-bottom: 0;
    border-radius:0.3rem 0.3rem 0.3rem 0.3rem;
}
dt.active{
    background-color: #0088ff !important;
    border-radius:0.3rem 0.3rem 0 0!important;
}
.matches{
    background-color: #e0eeff;
    width: 80%;
    max-width: 450px;
    min-width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 0.5rem;
    border-radius: 0 0 0.3rem 0.3rem;
}
dt.match-date{
    background-color: #4A5F82 !important;
}
dt.list-group-item:first-of-type{
    margin-top: 0;
}

li.settings > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body #menu-space{
    height: 0;
}

@media only screen and (max-width: 520px) {
    #main-page {
        flex-direction: column;
        margin-top: 15px;
    }
    .buttons{
        margin-top: 50px;
    }
    body #menu-space{
        width: 100%;
        height: 80px;
    }
    nav {
        overflow: hidden;
        background-color: #333;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;

    }
    ul.nav{
        display: flex;
        flex-direction: row;
        align-content: space-between;
        justify-content: center;
        min-height: 60px;
        gap: 1px;
    }
    nav li{
        flex-basis: 100%;
        display: flex;
        min-height: 25px;
        margin: 2px 1px;
        padding: 0;
        justify-content: center;
        align-items: center;

        border-style: solid;
        border-width: 0;
        border-color: #333;
        border-radius: 0;
        background-color: white;
    }
    nav li > a{
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 5px;
        min-width: 0;
        font-weight: bold;
    }
    nav li:first-child{
        margin-left: 0;
    }
    nav li:last-child{
        margin-right: 0;
    }
    .menu-icon:not(.setts){
        display: inline-block;
        max-width: 50px;
        max-height: 50px;
        background-color: white;
        border-radius: 2px;
    }

    p.menu:not(.setts){
        display: none;
    }
    a.title{
        text-align: center;
        padding-left: 0;
        margin-left: auto;
        margin-right: auto;
    }
    form.inline{
        display: block;
    }
}