body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #006BA6;
}
header{
    background-color: white;
    padding: 4px;
    border-color: #00b0b9;
    border-width: 0 0 5px 0;
    border-style: solid;
}
a{
    font-size: 35px;
    padding-left: 10px;
    color: #006BA6;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
}
p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h2{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 20px 0;
    color: #FFFFFF;
}
.buttons{
    padding: 20vh 0;
    border-radius: .4rem;
    min-width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#register{
    display: block;
    padding: 15px 30px;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #00b0b9;
    color: white;
    margin: 15px auto;

    font-weight: bold;
    border-color: #00b0b9;

}
#login{
    display: block;
    padding: 15px 30px;
    margin: 15px auto;
    font-size: 1.4rem;
    border-radius: .25rem;
    background-color: #0496FF;
    color: #ffffff;

    font-weight: bold;
    border-color: #0496FF;
}
.button{
    font-family: inherit;
    display: inline-block;
    font-size: 1rem;
    border-radius: .25rem;
    margin: 5px;
    padding: .375rem .75rem;

}
.submit-button{
    background-color: #00b0b9;
    color: #FBFFF1;
    border-color: #00b0b9;
}
.reset-button{
    background-color: #757575;
    color: #FFF;
    border-color: #757575;
}
.form-input {
    display: block;
    padding: .6rem .9rem;
    margin-bottom: 20px;
    font-size: 1rem;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-left: auto;
    margin-right: auto;
    font-weight: 400;
}
form{
    margin: auto;
    display: block ;
    text-align: center;
    width: fit-content;
}

form.container{
    background-color: #FFFFFF;
    border-radius: .4rem;
    padding: 25px;
}

label{
    color: #006BA6;
}